<form [formGroup]="updateMeetingForm" (ngSubmit)="submit()">
    <div class="mb-4">
        <input type="text" formControlName="meetingName" placeholder="Meeting Name"
            class="input input-bordered w-full" />
    </div>
    <div class="mb-4 pt-1 pb-1 text-center ">
        <input type="text" formControlName="description" placeholder="Description"
            class="textarea textarea-bordered textarea-md w-full" />
    </div>
    <div class="flex">
        <div class="mb-4 w-1/2">
            <input min="{{setToday()}}" type="date" formControlName="startDate" placeholder="Meeting Start Date"
                class="input input-bordered w-full" />
        </div>
        <div class="mb-4 w-1/2">
            <input type="date" formControlName="endDate" placeholder="Meeting Start Date"
                class="input input-bordered w-full" />
        </div>
    </div>
    <p class="text-center text-red-600 font-bold" *ngIf="updateMeetingForm.hasError('dateRange')">Start Date Cannot Be
        Greater Than End Date!</p>


    <div class="card flex justify-content-center">
        <p-fileUpload name="meetingDocuments[]" (onSelect)="onUpload($event)" [multiple]="true" accept="image/*,.pdf"
            maxFileSize="100000000">
        </p-fileUpload>
    </div>

    <div class="mb-2 pt-1 pb-1 text-center">
        <button type="submit" class="btn btn-secondary mx-auto mb-3 w-full">Update Meeting</button>
    </div>
    <p-toast></p-toast>
</form>