<section class="w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-svh max-sm:bg-center bg-cover">
    <div class="container mx-auto h-full py-12 px-6">
        <div class="g-6 flex items-center justify-center text-gray-800 opacity-90">
            <div>
                <div class="block rounded-lg bg-white shadow-lg">
                    <div class="g-0 lg:flex lg:flex-wrap">
                        <div class="px-4 md:px-0 lg:w-6/12">
                            <div class="md:mx-10 md:p-1">
                                <div class="btn-group flex justify-center p-5">
                                    <button [routerLink]="['/auth/login']" [queryParamsHandling]="'preserve'"
                                        routerLinkActive="btn-active" class="btn btn-outline btn-secondary">
                                        LOGIN
                                    </button>
                                    <button [routerLink]="['/auth/register']" [queryParamsHandling]="'preserve'"
                                        routerLinkActive="btn-active" class="btn btn-outline btn-secondary">
                                        SIGN UP
                                    </button>
                                </div>

                                <router-outlet />
                            </div>
                        </div>
                        <div style="background: antiquewhite"
                            class="flex items-center rounded-b-lg lg:w-1/2 lg:rounded-r-lg lg:rounded-bl-none">
                            <div class="flex flex-row">
                                <img class="w-full mx-auto justify-center items-center max-lg:contents"
                                    src="assets/images/meeting.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>