<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-4">
        <input type="text" formControlName="firstName" placeholder="Name" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <input type="text" formControlName="lastName" placeholder="Lastname" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <input formControlName="email" type="email" placeholder="Email" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <input type="text" formControlName="phoneNumber" placeholder="Phone Number"
            class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <input type="password" formControlName="password" placeholder="Password" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <div class="card flex justify-center">
            <span class="font-bold text-sm">Profil Fotoğrafınızı Yükleyebilirsiniz.</span>
            <p-toast></p-toast>
            <p-fileUpload name="profile_image" (onUpload)="onUpload($event)" [multiple]="false" accept="image/*"
                maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFile">
                        <li>{{ uploadedFile.name }} - {{ uploadedFile.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>
    </div>
    <!-- <div class="mb-4">
        <input type="file" accept="image/*" formControlName="profileImage"
            class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
    </div> -->
    <div class="mb-1 pt-1 pb-1 text-center">
        <button type="submit" class="btn btn-primary mx-auto mb-3 w-full">Sign Up</button>
    </div>
</form>