<!-- <form [formGroup]="setMeetingForm">
    <div class="">
        <label class="input input-bordered flex items-center gap-2">
            Name
            <input type="text" class="grow" placeholder="Software Team Weekly Meeting" />
        </label>
    </div>
    <div class="">
        <p-calendar formControlName="meetingStartDate" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
    </div>
    <div class="">
        <p-calendar formControlName="meetingStartDate" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
    </div>
</form> -->


<form [formGroup]="setMeetingForm">

    <div class="mb-4">
        <input type="text" formControlName="meetingName" placeholder="Meeting Name"
            class="input input-bordered w-full" />
    </div>
    <div class="flex">
        <div class="mb-4 w-1/2">
            <input type="date" formControlName="meetingStartDate" placeholder="Meeting Start Date"
                class="input input-bordered w-full" />
        </div>
        <div class="mb-4 w-1/2">
            <input type="date" formControlName="meetingEndDate" placeholder="Meeting Start Date"
                class="input input-bordered w-full" />
        </div>
    </div>
    <div class="mb-4 pt-1 pb-1 text-center">
        <select class="select select-bordered w-full">
            <option disabled selected>Category</option>
            <option>Software</option>
            <option>Technical Support</option>
        </select>
    </div>
    <div class="card flex justify-content-center">
        <p-toast></p-toast>
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
            [multiple]="true" accept="image/*,.pdf" maxFileSize="1000000">


            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="mb-2 pt-1 pb-1 text-center">
        <button type="submit" class="btn btn-primary mx-auto mb-3 w-full">Set Meeting</button>
    </div>

</form>